{{!< default}}
              
<div class="main-wrapper_tellus">
    {{#author}}
    <header class="main-header_tellus">
        <div class="top-header_tellus {{#if cover}} img-cover_tellus" style="background-image: url({{cover}}){{else}}no-cover_tellus{{/if}}">
            {{> header_menu}}
        </div>
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
        <div class="header-cover_tellus">
            <div class="header-img_tellus {{#if cover}} img-cover_tellus" style="background-image: url({{cover}}){{else}}no-cover_tellus{{/if}}">
                <div class="vertical_tellus wrapper_tellus">
                    <div class="inner_tellus">
                        <div class="number-img_tellus">
                            {{#if image}}
                                <div class="authorimage_tellus" style="background-image: url({{image}})"></div>
                            {{/if}}
                            <div class="number-posts_tellus"><p><span>{{../pagination.total}}</span> <br/> {{plural ../pagination.total empty='No articles' singular='article' plural='articles'}}</div>
                        </div>
                        <section class="info-author_tellus">
                            <h1>{{name}}</h1>      
                            {{#if bio}}
                                <p>{{bio}}</p>
                            {{/if}}
                            {{#if location}}
                                <h5><i class="fa fa-map-marker"></i>{{location}}</h5>
                            {{/if}}
                            {{#if website}}
                                <h5><i class="fa fa-link"></i><a href="{{website}}">{{website}}</a></h5></li>
                            {{/if}}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{/author}}

    <main role="main">
        {{> search}}
        {{> loop}}
    </main>

</div>
              
{{> footer}}              