{{!< default}}
                        
<div class="main-wrapper_tellus">

    <header class="main-header_tellus">
        <div class="top-header_tellus {{#if @blog.cover}} img-cover_tellus" style="background-image: url({{@blog.cover}}){{else}}no-cover_tellus{{/if}}">
            {{> header_menu}}
        </div>
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
        <div class="header-cover_tellus">
            <div class="header-img_tellus {{#if @blog.cover}} img-cover_tellus" style="background-image: url({{@blog.cover}}){{else}}no-cover_tellus{{/if}}">
                <div class="vertical_tellus wrapper_tellus">
                    <section class="inner_tellus">
                        <h1>{{{@blog.title}}}</h1> 
                        <p>{{@blog.description}}</p>
                    </section>
                </div>
            </div>
        </div>
    </header>

    <main role="main">
        {{> search}}
        {{#get "tags" limit="3" fields="name,description,slug" as |categories|}}
          {{#foreach categories}}
            
            <article class="article_tellus wrapper_tellus">
              <div class="left-box">
                <a href="tag/{{slug}}"> {{name}} </a>
                <section class="post-excerpt_tellus">
                    <p>{{description}}</p>
                </section>
            </article>


          {{/foreach}}
        {{/get}}
        {{> loop}}
    </main>

</div>
              
{{> footer}}
