{{!< default}}
              
 <div class="main-wrapper_tellus">

    <header class="main-header_tellus">
        <div class="top-header_tellus {{#if tag.image}} img-cover_tellus" style="background-image: url({{tag.image}}){{else}}no-cover_tellus{{/if}}">
            {{> header_menu}}
        </div>
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
        <div class="header-cover_tellus">
            <div class="header-img_tellus {{#if tag.image}} img-cover_tellus" style="background-image: url({{tag.image}}){{else}}no-cover_tellus{{/if}}">
                <div class="vertical_tellus wrapper_tellus">
                    <section class="inner_tellus">
                        <h1>{{tag.name}}</h1> 
                        {{#if tag.description}}
                            <p>{{tag.description}}</p>
                        {{/if}}
                    </section>
                </div>
            </div>
        </div>
    </header>

    <main role="main">
        {{> search}}
        {{> loop}}
    </main>

</div>
              
{{> footer}}             
